<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
		<array>
		
			<dict>
				<key>cell</key>
					<string>PSGroupCell</string>
				<key>label</key>
					<string>Package Managers</string>
			</dict>
			
			<dict>
				<key>cell</key>
					<string>PSLinkCell</string>
				<key>label</key>
					<string>Cydia</string>
				<key>detail</key>
					<string>CydiaListController</string>
				<key>isController</key>
					<true/>
				<key>id</key>
					<string>0</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSLinkCell</string>
				<key>label</key>
					<string>Installer</string>
				<key>detail</key>
					<string>InstallerListController</string>
				<key>isController</key>
					<true/>
				<key>id</key>
					<string>1</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSLinkCell</string>
				<key>label</key>
					<string>Sileo</string>
				<key>detail</key>
					<string>SileoListController</string>
				<key>isController</key>
					<true/>
				<key>id</key>
					<string>2</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSLinkCell</string>
				<key>label</key>
					<string>Tweakio App</string>
				<key>detail</key>
					<string>TweakioListController</string>
				<key>isController</key>
					<true/>
				<key>id</key>
					<string>3</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSLinkCell</string>
				<key>label</key>
					<string>Zebra</string>
				<key>detail</key>
					<string>ZebraListController</string>
				<key>isController</key>
					<true/>
				<key>id</key>
					<string>4</string>
			</dict>
			
			<dict>
				<key>cell</key>
					<string>PSGroupCell</string>
				<key>label</key>
					<string>Links</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSButtonCell</string>
				<key>action</key>
					<string>openGithub</string>
				<key>label</key>
					<string>Github Repository</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSButtonCell</string>
				<key>action</key>
					<string>joinDiscord</string>
				<key>label</key>
					<string>Join the Discord Server</string>
			</dict>

			<dict>
				<key>cell</key>
					<string>PSGroupCell</string>
				<key>label</key>
					<string>API Differences Explanation</string>
				<key>footerAlignment</key>
					<string>0</string>
				<key>footerText</key>
					<string>The API is per package manager. To change API, open Tweakio in each package manager and click on the settings button. From there you can change API.

Differences between the APIs:

	• Tweakio API - Made by me, Spartacus. Completely open sourced. Unstable, contains over 500 repos, can gives most results, in exchange of speed.

		• `Fast search` brings less results, but much faster
		• `More results` is slower but bring much more results

	• Parcility API - Made by the Zenith Team. Fast, contains over 600 repos.

	• Canister API - Made by Tale. Fast, used in Sileo as a built-in feature, tells exact price for a package.

	• iOS Repo Updates API - Made by @relisiuol. Fast, tells exact price for a package, piracy-free and no offline repos.</string>
			</dict>
		
		</array>

	<key>title</key>
		<string>Tweakio</string>

</dict>
</plist>
