<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
		<array>
			<dict>
				<key>cell</key>
					<string>PSSwitchCell</string>
				<key>default</key>
					<false/>
				<key>defaults</key>
					<string>com.spartacus.tweakioprefs</string>
				<key>key</key>
					<string>tweakio legacy</string>
				<key>label</key>
					<string>Legacy mode (current UI can be buggy)</string>
			</dict>

		</array>

    <key>title</key>
		<string>Tweakio</string>
</dict>
</plist>
